@CHARSET "UTF-8";

#menuPanelLeft {
/* 	padding-left: 10px; */
}

#menuPanelCenter {
	clear:both;
	float: left;
	padding-left: 10px;
}

#menuPanelRight {
	float: right;
	padding-right: 10px;
}

#divButtons {
	float: right;
	margin-right: 10px;
	position: absolute;
}

#divTabpanel {
    position: absolute;
	top: 80px;
	bottom: 0px;
	right: 0px;
	left: 0px;
    margin-left: 10px;
}

#divSwitch {
    float: left;
    padding-left: 10px;
}

#divCard {
    float: left;
    padding-left: 10px;
}

#divConfig {
    float: left;
    padding-left: 10px;
}